body
{
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header
{
    position: fixed;
    background:#272b38;
    display: block;
    padding: 20px;
    top: 0;
    width: 100%;
    height: 30px;
}


.left_area h3
{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;

}
.left_area span{
    color: #1DC4E7;
}
.right_area > .logout_btn
{
    padding:5px;
    background:#19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}
.logout_btn:hover
{
    background: #0d9dbb;
}
.sidebar-profile a
{
    color: #fff;
    display: block;
    width: 100px;
}
.sidebar
{
    background: #33485c;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    transition: 0.6s;
    transition-property: left;
}
.sidebar .profile_image
{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar-profile div
{
    color: rgb(255, 250, 250);
    margin-top: 0;
    /* margin-bottom: 25px; */
    font-size: large;
    padding: 2px;
    height: fit-content;
}
#profile-email
{
    font-size: small;
    color: rgb(184, 184, 184);
}

.iconList a,.circle
{
    color: #fff;
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 60px;
    padding-left: 40px;
    box-sizing: border-box;
    /* margin-top: 20px; */
    transition: 0.5s;
    transition-property: background;
}
.circle {
    height: 50px;
    width: 50px;
    /* display: table-cell; */
    text-align: center;
    /* vertical-align: middle; */
    /* border-radius: 50%; */
    background: #33485c;
  }
.iconList
{
    margin-top: 20px;
    
}
.iconList a:hover{
    background: #19b3d3;

}
.iconList span,.circle
{
 
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
      
}

.showList
{
    font-size: 12px;
    position: absolute;
    left: 220px;
    margin-top: 24px;
    transition: 0.5s;
}
/* .iconList:hover a:click .showList{
    transform: rotate(-90deg);
    margin-top: 20px;
    transition: 0.5s;
} */
.logout-profile a
{
    color: #fff;
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 60px;
    padding-left: 40px;
    box-sizing: border-box;
    /* margin-top: 20px; */
    transition: 0.5s;
    transition-property: background;
}

.logout-profile a:hover{
    background: #d61414;

}
#logout-profile
{
    color: #fff;
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 60px;
    padding-left: 40px;
    box-sizing: border-box;
    /* margin-top: 20px; */
    transition: 0.5s;
    transition-property: background;
}
.nav li
{
    list-style: none;
}
.sidebar i{
    padding-right: 10px;
}
label #sidebar_btn
{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin:5px 0;
    transition:0.5s;
    transition-property: color;

}
label #sidebar_btn:hover
{
    color:#19B3D3;
}
#trang_check:checked ~.sidebar
{
    left: -190px;
}
#trang_check:checked ~ .sidebar a span 
{
    display: none;
}
#trang_check:checked ~ .sidebar .sidebar-profile
{
    display: none;
}
#trang_check:checked ~ .sidebar a
{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
    
}
.circle
{
    display: none;
}
#trang_check:checked ~ .sidebar .circle
{
    display: flex;
    font-size: 20px;
    margin-left: 168px;
    width: 80px;
}
#trang_check
{
    display: none;
}
.iconList li,ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.listMessage
{
    padding-left: 30px;
}
.listMessage li:hover
{
    opacity: 0.7;

}
.content
{
    margin-left: 250px;
    margin-top: 70px;
    /* background-position: center; */
    /* background-size: cover; */
    display: block;
    height: 100vh;
}
